<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Message</title>
  </head>
  <body>
    <%- include("header") %>
    <h2><%= heading %></h2>
    <form action="/new" method="post">
      <label for="author">Author: </label>
      <input type="text" id="author" name="author" />
      <label for="message">Message: </label>
      <input type="text" id="message" name="message" />
      <button type="submit">Send</button>
    </form>
    <%- include("footer") %>
  </body>
</html>
