<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail</title>
  </head>
  <body>
    <%- include("partials/header", {links: links}) %>
    <h2>Contents</h2>
    <% if (locals.message) { %>
    <h3>
      Author:
      <%= message.username %>
    </h3>
    <p>Content: <%= message.text %></p>
    <p>Sent at <%= message.added %></p>
    <% } %>
  </body>
</html>
