<header>
  <h1><%= title %></h1>
  <nav>
    <ul style="display: flex; gap: 2rem; list-style-type: none">
      <% for( let i = 0; i < links.length; i++ ) { %>
      <li>
        <a href="<%= links[i].href %>"><%= links[i].text %></a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
